<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Procedure Parameters</title>
</head>
<body>
<h2>Procedure</h2>
<form method="post" th:action="@{/report}">
    <table border="1" cellpadding="8" cellspacing="0">
        <thead>
        <tr>
            <th>Parameter Name</th>
            <th>Data Type</th>
            <th>Direction</th>
            <th>Input</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${parameters}">
            <td th:text="${p.name}">Param Name</td>
            <td th:text="${p.type}">Data Type</td>
            <td>
                <select th:name="${p.name +'_direction'}">
                    <option value="DATE" th:selected="${p.direction == 'DATE'}">DATE</option>
                    <option value="DATE-TIME" th:selected="${p.direction == 'DATE-TIME'}">DATE-TIME</option>
                    <option value="SELECT" th:selected="${p.direction == 'SELECT'}">SELECT</option>
                    <option value="TEXT" th:selected="${p.direction == 'TEXT'}">TEXT</option>
                    <option value="HIDE" th:selected="${p.direction == 'HIDE'}">HIDE</option>
                </select>
            </td>
            <td>
                <input type="text" th:name="${p.name}" />
            </td>
        </tr>
        </tbody>
    </table>
    <br/>
    <button type="submit">Run Procedure</button>
</form>
</body>
</html>
